{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouvel article</h1>

        {{ include('article/_form.html.twig') }}

        <a href="{{ path('app_article_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}

